* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}


main {
  padding-top: 20px;
  text-align: center;
  background-color: #ffeef6 ;
}

main.log{
    padding-bottom: 25%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #ffe2f0;
  height: 80px;
}

h1{
  color: #a64d79;
}

header h1 {
  margin: 0;
}

.logSec {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #a64d79;
  font-weight: 500;
}

.login-btn {
  
  background-color: #f28cbd;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 15px;
  border: none;
}

.login-btn:hover {
  background-color: #f4c5db;
}


.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffacd4;
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  color: #f2f2f2;
  text-decoration: none;
  text-align: center;
  flex: 1;
  line-height: 50px;
}

.navbar a:hover {
  background-color: #f4c5db;
}

.navbar a.active {
  background-color: #f28cbd;
  color: white;
}


  input[type=text]{
    min-width:50%;
    padding: 5px;
  }

  input[type=password]{
    min-width:50%;
    padding: 5px;
  }


  .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  width: 100%;
  height: auto;
  display: block;
}
